@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono,wght@400,700&display=swap');

:root {
  --container-width: 1240px;
  --header-height: 88px;

  --interface-bg: #131316;
  --interface-modal-bg: #1c1c21;
  --interface-modal-edge: rgba(76, 76, 255, .2);
  --text-primary-light: #f2f2f3;
  --text-dark-grey: #8585ad;
  --interface-purple: #801ab2;
  --interface-purple-blue: #4c4cff;

  --default-transition: .3s ease-in-out;

  font-family: 'JetBrains Mono', monospace;
  background-color: var(--interface-bg);
  color: var(--text-primary-light);
}

body {
  height: 100vh;
  overflow: hidden;
}

body #root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.container {
  width: var(--container-width);
  margin: 0 auto;
}

.auth-page {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 180px;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 3000ms, transform 3000ms;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 3000ms, transform 3000ms;
}
